<div>{{title}}</div>

<div *ngFor="let row of cards" class="card-container">
  <div *ngFor="let card of row"
       [ngClass]="{
         'clicked': card.clicked === true,
         'normal': card.clicked === false
        }"
        (click)="clickHand($event)"
        id="{{card.letter}}"
        class="card">
    {{card.letter}}
  </div>
</div>

<div>
  <span>Percent of Hands: </span>
  <span>{{percentageOfHandsSelected | percent:'1.2-2'}}</span>
</div>

<div>
  <div>Board:</div>
  <input type="text" id="board" [(ngModel)]="board" (change)="onChange()"/>
</div>
